<%= render 'shared/navbar'%>

<div class = "container pb-3 pt-4">
    <h3><span class="badge badge-pill badge-success">Editar lista de Chamada</span></h3>
    <%= render 'form', attendance_list: @attendance_list %>
</div>

