<h2>Admins Cadastrados:</h2>

<b>Voce:</b>	<%= current_admin.email %> <br><br>
<% @admins.each do |adm| %>
	<% if adm != current_admin %>
		Email: <%= adm.email %> <br><br>
	<% end %>
<% end %>
<%= link_to 'Voltar', root_path  %>